@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager _navigationManager;
@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/Identity/Account/Login");
        }
    }
}
